In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 

vine_table_to_load = "Resources/vine_table.csv"

# Read the vine_table into a Pandas DataFrame

vine_table_df = pd.read_csv(vine_table_to_load)

In [2]:
# Filter data to create a new DataFrame to show all the rows where the totalvotes is equal to or greater than 20
vine_sorted_df = vine_table_df[(vine_table_df["total_votes"] >= 20)]
vine_sorted_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
348614,R33PHQQAV5DJ8X,5.0,98.0,100.0,N,N
348621,RWO8RAQ8QBXID,1.0,4.0,37.0,N,N
348631,R3LXSP7H4UT47G,4.0,20.0,23.0,N,N
348633,R168YIRN0KE3U7,5.0,18.0,30.0,N,N
348652,RIFGPIICFHYJ0,2.0,23.0,23.0,N,N

In [3]:
# Create a new DataFrame where the number of helpful_votes divided by total_votes is equal to or greater than 50%

helpful_votes_df = vine_sorted_df[((vine_sorted_df["helpful_votes"]) / (vine_sorted_df["total_votes"])) >= .5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N

In [4]:
# Filter the DataFrame and create a new DataFrame that retrieves all the rows where a review was written as part of the Vine program
vine_program_df = helpful_votes_df[(helpful_votes_df["vine"] == "Y")]
vine_program_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19527,RPJ7C4HP3BHXN,5.0,25.0,29.0,Y,N
21361,R3SB08XK0M7993,4.0,44.0,49.0,Y,N
33098,R26X1DACMCN3YF,3.0,16.0,21.0,Y,N
38418,R17HKKDE9ZRVOO,4.0,31.0,35.0,Y,N
39255,R1R7GNSCMO8U7I,4.0,24.0,28.0,Y,N

In [5]:
# Filter the DataFrame and create a new DataFrame that retrieves all the rows where a review was not written as part of the Vine program
not_vine_df = helpful_votes_df[(helpful_votes_df["vine"] == "N")]
not_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
180,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
209,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y
239,R6XTEZCSCUJ4J,5.0,20.0,23.0,N,Y
283,R2WVV9LQKIVMOX,5.0,23.0,23.0,N,N

In [6]:
# Determine the total number of reviews for vine program
vine_reviews = vine_program_df["review_id"].count()
vine_reviews

21

In [7]:
# Determine the total number of reviews not part of vine program
not_vine_reviews = not_vine_df["review_id"].count()
not_vine_reviews

6690

In [8]:
# Determine the total number of 5-star reviews for vine program
five_star_reviews_vine = vine_program_df[(vine_program_df["star_rating"] == 5)]

vine_five_star_count = five_star_reviews_vine["review_id"].count()
vine_five_star_count

10

In [9]:
# Determine the total number of 5-star reviews for non vine program
five_star_reviews_non_vine = not_vine_df[(not_vine_df["star_rating"] == 5)]

non_vine_five_star_reviews_count = five_star_reviews_non_vine["review_id"].count()
non_vine_five_star_reviews_count

3448

In [10]:
# Determine the percentage of 5-star reviews for vine program
percentage_vine_program = vine_five_star_count / vine_reviews
percentage_vine_program

0.47619047619047616

In [11]:
# Determine the percentage of 5-star reviews for non vine program
percentage_non_vine_program = non_vine_five_star_reviews_count / not_vine_reviews
percentage_non_vine_program

0.5153961136023917

## Additional Analysis on original dataframe without sorting for total votes and percentage of helpful votes

# Vine Program

In [12]:
# Determine the total number of reviews part of the vine program original dataframe
unsorted_vine_program_df = vine_table_df[(vine_table_df["vine"] == "Y")]
unsorted_total_reviews_vine = unsorted_vine_program_df["review_id"].count()
unsorted_total_reviews_vine

904

In [13]:
# Determine the total number of 5 star review for vine program on original dataframe
unsorted_five_star_reviews_vine = unsorted_vine_program_df[(unsorted_vine_program_df["star_rating"] == 5)]

unsorted_vine_five_star_count = unsorted_five_star_reviews_vine["review_id"].count()
unsorted_vine_five_star_count

472

In [14]:
# Determine the percentage of 5-star reviews for vine program on original dataframe
unsorted_percentage_vine_program = unsorted_vine_five_star_count / unsorted_total_reviews_vine
unsorted_percentage_vine_program

0.5221238938053098

# Not Vine Program

In [15]:
# Determine the total number of reviews not part of the vine program original dataframe
unsorted_not_vine_program_df = vine_table_df[(vine_table_df["vine"] == "N")]
unsorted_total_reviews_not_vine = unsorted_not_vine_program_df["review_id"].count()
unsorted_total_reviews_not_vine

347747

In [16]:
# Determine the total number of 5 star review for not vine program on original dataframe
unsorted_five_star_reviews_not_vine = unsorted_not_vine_program_df[(unsorted_not_vine_program_df["star_rating"] == 5)]

unsorted_not_vine_five_star_count = unsorted_five_star_reviews_not_vine["review_id"].count()
unsorted_not_vine_five_star_count

216023

In [17]:
# Determine the percentage of 5-star reviews for vine program on original dataframe
unsorted_percentage_not_vine_program = unsorted_not_vine_five_star_count / unsorted_total_reviews_not_vine
unsorted_percentage_not_vine_program

0.6212073720262145